<nav class="navbar">
    <div class="container">
        <div class="nav">
            <div class="button" href="Home.html">Home</div>
            <div><h1>Home Page</h1></div>
            <div class="button" href="Landing.html">Logout</div>
        </div>
    </div>
  </nav>