<link href="/css/style.css" rel="stylesheet">
<nav class="head">
    <div class="title">          
        <div class="item" href="">Home</div>
        <div class="item"><h1>Home Page</h1></div>
        <div class="item" href="">
            <div class="log">
                <button>Login</button>
            </div>
        </div>
    </div>        
</nav>