html {
    background: #E8E8E9;
    font-family: 'Roboto', sans-serif;
}
.paragraph {
    
    border: solid white;
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 100px;
    margin: 10px;
    background: white;
}
body{
    
    padding: 0;
    margin:0;
}
.nav {
    background: #E01A4F;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content{
    /* border: solid red; */
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    
}
.image {
    border: solid white;
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 100px;
    margin: 10px;
    background: white;
}
.button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #F9C22E;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #E3B12A;
    text-decoration: none;
  }
  .button:hover {
      background-color: #F9C22E
    }
  .button:active {
    background-color: #F9C22E;
    box-shadow: 0 5px #E3B12A;
    transform: translateY(4px);
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #F15946;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #F9C22E;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background: #53B3CB;
}