<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="landing.css">
</head>
<body>
        <%- include('partials/title'); %>
        <div class="content">
            <%- body %>
    </div>
</div>

</body>

</html>