
<form name="form"  enctype="multipart/form-data" method="POST" action="/entry/new">
    <div class="form">
        <div class="prop">
            <label>Change the image:</label>
            <div class="prop">
                <input type="file" name="photo">
            </div>
        </div>
        <div class="prop">
            <label>Title:</label>
            <div class="prop">
                <input type="text" name="title">
            </div>
        </div>
        <div class="prop">
            <label>Description:</label>
            <div class="desc">
                <textarea name="description"> Enter description here </textarea>
            </div>
        </div>
    </div>
    <div class="fButt"> 
        <input class="button" type="submit" value="Submit">
    </div>
    
</form>   

