<div class="photo">
    <a class="view" href="/entry/view/:id">
        <img src="ToanAu_corgi.jpg" width=250 height=250 /> 
        <div
        <div class="caption">
            its a corgi deal with it
        </div>
    </a> 
</div>
<div class="photo">
        <a class="view" href="/entry/view/:id">
            <img src="ToanAu_corgi.jpg" width=250 height=250 /> 
            <div
            <div class="caption">
                its a corgi deal with it
            </div>
        </a> 
    </div>
    <div class="photo">
            <a class="view" href="/entry/view/:id">
                <img src="ToanAu_corgi.jpg" width=250 height=250 /> 
                <div
                <div class="caption">
                    its a corgi deal with it
                </div>
            </a> 
        </div>
<div class="photo">
        <a class="view" href="/entry/view/:id">
            <img src="ToanAu_corgi.jpg" width=250 height=250 /> 
            <div
            <div class="caption">
                its a corgi deal with it
            </div>
        </a> 
    </div>