<%if(entries) {%>
    <%for (var entry in entries) {%>
        <div class="photo"> 
            <a class="view" href="/entry/view/<%= entries[entry].id %>">
                <img src="<%= entries[entry].photoUrl %>"/> 
                <div class="overlay">
                    <a href="/entry/delete/<%= entries[entry].id %>" class="delete"> X </a>
                </div>
                <div class="caption">
                    <%= entries[entry].title %>
                </div>
            </a>
        </div>
    <%}%>
<% } else { %>
    <div class="empty">
        ~ You have no entries ~
    </div>
<%}%>
