<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <%- include('partials/head') %>

    <div class="content">
        <div class="nav">
            <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">Add Entry</a></li>
            <li><a href="#contact">Delete Entry</a></li>
            </ul>
        </div>
        <div class="entries">
            <%- body %>
            
        </div>
    </div>
</div>

</body>

</html>