
<form name="form" method="POST" action="/entry/new">
    <div class="form">
        <div class="prop">
        <label>Title:</label>
            <input type="text" name="title">
        </div>
        <div class="prop">
            <label>Upload an image:</label>
            <div class="prop">
                <input type="file" name="file">
            </div>
        </div>
        <div class="prop">
            <label>Caption:</label>
                <input type="textarea" name="description">
        </div>
    </div>
    <div class="fButt"> 
        <input class="button" type="submit" value="Submit">
    </div>
    
</form>   

