<div class="photo"> 
<<<<<<< HEAD
=======
        <div class="title">
            <%= entry.title %>
    </div>
>>>>>>> 019d1034710e95e4046f5f8c528c92394c0b2b01
        <img src="<%= entry.photoUrl %>"/> 
        <div class="caption">
                <%= entry.title %>
            </div>
        <div class="caption">
            <%= entry.description %>
        </div>
</div>