<div class="photo"> 
        <div class="title">
            <%= entry.title %>
    </div>
        <img src="<%= entry.photoUrl %>"/> 
        <div class="caption">
            <%= entry.description %>
        </div>
</div>