<div class="photo"> 
        <img src="<%= entry.photoUrl %>"/> 
        <div class="caption">
                <%= entry.title %>
            </div>
        <div class="caption">
            <%= entry.description %>
        </div>
</div>