html {
    background: #E8E8E9;
    width: 100%;
    height: 100%;
}
.title {
    text-align: center;
    
    margin-bottom: 30%;
    margin-top: 20%;
}
h1 {
    color: #2B303A;
}
.content {
    text-align: center;
    
    border-radius: 10px;
   
    height: 100%;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #725AC1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #53428D;
  }
  
  .button:hover {background-color: #725AC1}
  
  .button:active {
    background-color: #725AC1;
    box-shadow: 0 5px #53428D;
    transform: translateY(4px);
  }
