@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    background: #E8E8E9;
}
.title {
    text-align: center;
    width: 100%;
    
}
h1 {
    font-size: 100px;
    font-family: 'Sacramento', cursive;
    color: #2B303A;
}
h1:hover {
    color: #725AC1;
}
h1::after {
    z-index: -1;
    content: attr(data-content);
  }
.content {
    /* border: solid blue; */
    /* display: flex; */
    text-align: center;
    margin: auto;
    width: 100%;
    
}

body {
    /* border: solid green; */
    /* border: solid black;   */
   margin:20px;
   padding:0;
}
.nav {
    padding-right: 5px;
    /* border-right: #2B303B; */
   
    width: 100%;
    margin:0;

    
}
ul {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    width: 140px;
    text-align: left; */
    color: #2B303A;
    font-size: 22px;
    font-family: 'Roboto';
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 3px;
}
li {
    float: left;
}
li a {
    /* display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none; */

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #725AC1;
}
/* Change the link color on hover */
li a:hover:not(.active) {
    border-radius: 3px;
    background-color: #725AC1;
    color: white;
}

.footer {
    margin-top:40px;
    width: 100%;
    text-align: center;
    border-top: solid #2A324B 2px;
    font-family: 'Roboto';
}

.entries {
    /* border: solid pink; */
    position: center;
    /* border-left: solid #2B303A; */
   
    display: Flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #D3D3D4;
    border-radius: 3px;
    padding:5px;
    
    
    
}

.photo {
    position: relative;
    background: white;
    border: solid white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    
    
}
.photo:hover {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photo:hover .overlay {
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 90%;
    right: 0%;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
    border-radius: 150%;
}
.delete {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}
.caption {
    font-family: 'Sacramento';
    font-size: 30px;
    text-decoration: none;
}
.view {
    text-decoration: none;
    color: black;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #725AC1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #53428D;
    font-family: 'Roboto';
    margin-bottom: 40%;
  }
  
  .button:hover {background-color: #725AC1}
  
  .button:active {
    background-color: #725AC1;
    box-shadow: 0 5px #53428D;
    transform: translateY(4px);
  }
  .ebutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F2E41F;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #E0CA28;
    font-family: 'Roboto';
    margin: 20px;
  }
  
  .ebutton:hover {background-color: #F2E41F}
  
  .ebutton:active {
    background-color: #F2E41F;
    box-shadow: 0 5px #E0CA28;
    transform: translateY(4px);
  }
.landing {
    text-align: center;
    border-radius: 10px;
}
.para {
    margin-bottom: 15%;
    font-family: 'Roboto'
}
.form {
    text-align: center;
    border: solid white;
    background: white;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Roboto';
}
.prop {
    padding: 10px;
    text-align: center;
}
.fButt {
    text-align: right;
    padding-top: 20px;
}
form {
    width: 100%;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    
}
.desc {
    width: 100%;
}
.empty {
    width: 100%;
    font-family: 'Roboto';
    color: #2B303A;
    padding: 70px;
}
.edit {
    margin-left:25%;
    margin-right:25%;
}

