@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    background: #E8E8E9;
}
.title {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 100%;
}
h1 {
    font-size: 100px;
    font-family: 'Sacramento', cursive;
    color: #2B303A;
}
h1:hover {
    color: #725AC1;
}
h1::after {
    z-index: -1;
    content: attr(data-content);
  }
.content {
    display: flex;
    text-align: center;
    margin-bottom: 100px;
    
}

body {
    /* border: solid black;   */
}
.nav {
    padding-right: 5px;
    border-right: #2B303B;
    padding-left: 5px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    color: #2B303A;
    font-size: 30px;
    font-family: 'Roboto';
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    border-radius: 3px;
    background-color: #725AC1;
    color: white;
}

.footer {

    margin: 5px;
    text-align: center;
    border-top: solid #2A324B;
    font-family: 'Roboto';
}

.entries {
    border-left: solid #2B303A;
    width: 100%;
    display: Flex;
    flex-wrap: wrap;
    
}

.photo {
    position: relative;
    background: white;
    border: solid white;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    
    
}
.photo:hover {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photo:hover .overlay {
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 90%;
    right: 0%;
    height: 12.5%;
    width: 15%;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
    border-radius: 150%;
}
.delete {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}
.caption {
    font-family: 'Sacramento';
    font-size: 30px;
    text-decoration: none;
}
.view {
    text-decoration: none;
    color: black;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #725AC1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #53428D;
    font-family: 'Roboto';
    margin-bottom: 40%;
  }
  
  .button:hover {background-color: #725AC1}
  
  .button:active {
    background-color: #725AC1;
    box-shadow: 0 5px #53428D;
    transform: translateY(4px);
  }
  .landing {
    text-align: center;
    border-radius: 10px;
}
.para {
    margin-bottom: 15%;
    font-family: 'Roboto'
}

